// i finally made my own loader

.loader-container {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column-reverse;
  margin: 0;
  padding: 0;
  
  .loader__caption {
    font-size: 1rem;
    padding: .75rem .25rem;
    font-weight: bold;
  }

  &--large {
    max-width: 340px;

    .loader__caption {
      font-size: 1.75rem;
      padding: 1rem .25rem;
      width: 125%;
    }

    @media screen and (max-width: 400px) {
      max-width: 95%;

      .loader__caption {
        font-size: 1.5rem;
        width: 100%;
      }
    }
  }

  &--small {
    max-width: 150px;

    .loader__caption {
      font-size: .8rem;
    }
  }

  &--tiny {
    max-width: 100px;

    .loader__caption {
      font-size: .625rem;
    }
  }

  .loader__vector {
    fill: none;
    display: block;
    stroke: black;
    width: 100%;

    .triangle {
      stroke-dasharray: 17;
      animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;

      &:nth-child(2) {
        animation-delay: .25s;
      }
      
      &:nth-child(3) {
        animation-delay: .5s;
      }
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 136;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
