$primary-brand-color: #601390; // rgb(96,19,144) HSL 0.77	0.77	0.32
$secondary-brand-color: #139060; // rgb(19,144,96) HSL	0.44	0.77	0.32
$color-gray: #A6A6A6; // rgb(166,166,166)
$color-gray--light: #C9C9C9; // rgb(201,201,201)
$color-gray--lighter: lighten($color-gray--light, 18%);
$color-gray-bg: #ececec;
$color-link: $primary-brand-color;
$color-link-hover: lighten($color-link, 40%);
