@import 'variables';

footer.app-footer {
  background-color: black;
  color: white;
  max-width: 100%;
  padding: 1rem;

  a {
    color: white;

    &:hover {
      color: $color-link-hover;
    }
  }

  .social-container {
    a {
      padding: .5rem;
    }
  }

  h2,
  h3,
  h4,
  h5 {
    color: white;
  }
}
