@import 'styles/main';

.App {
  text-align: center;
  max-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.App-logo {
  animation: App-logo-slide infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #999;
  padding: 2rem;
  color: white;
  box-shadow: inset 0px -6px 11px -4px rgba(112,112,112,1);
}

.App-title {
  font-size: 1.5em;
  color: white;
  padding: 1rem;
}

@keyframes App-logo-slide {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(2rem) rotate(0deg);
  }
  40% {
    transform: translateX(3rem) rotate(0deg);
  }
  50% {
    transform: translateX(4rem) rotate(180deg);
  }
  75% {
    transform: translateX(2rem) rotate(180deg);
  }
  90% {
    transform: translateX(1rem) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
