@import 'styles/variables';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ececec;
}

a {
  color: $primary-brand-color;

  &:hover {
    color: lighten($primary-brand-color, 35%);
  }
}
